In [3]:
import pandas as pd
import requests

In [9]:
response=requests.get('http://www.omdbapi.com/?i=tt3896198&apikey=3f51674d')

In [11]:
response

In [13]:
response.json()

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldaña, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 61 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWE5MGI3MDctMmU5Ni00YzI2LWEzMTQtZGIyZDA5MzQzNDBhXkEyXkFqcGc@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '788,570',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': '$389,813,101',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [21]:
pd.DataFrame(response.json())

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldaña, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"788,570",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldaña, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"788,570",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldaña, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"788,570",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True

In [23]:
pd.DataFrame(response.json())[['Title','Year','Rated','Genre','Writer','Plot','Type','DVD']]

,Title,Year,Rated,Genre,Writer,Plot,Type,DVD
0,Guardians of the Galaxy Vol. 2,2017,PG-13,"Action, Adventure, Comedy","James Gunn, Dan Abnett, Andy Lanning",The Guardians struggle to keep together as a t...,movie,N/A
1,Guardians of the Galaxy Vol. 2,2017,PG-13,"Action, Adventure, Comedy","James Gunn, Dan Abnett, Andy Lanning",The Guardians struggle to keep together as a t...,movie,N/A
2,Guardians of the Galaxy Vol. 2,2017,PG-13,"Action, Adventure, Comedy","James Gunn, Dan Abnett, Andy Lanning",The Guardians struggle to keep together as a t...,movie,N/A

In [27]:
df=pd.DataFrame()

In [29]:
df

Empty DataFrame
Columns: []
Index: []

In [56]:
df = []  # Use a list to collect DataFrames

for i in range(1, 100):
    url = f"http://www.omdbapi.com/?i=tt3896198&apikey=3f51674d"
    response = requests.get(url)
    data = response.json()
    temp_df = pd.DataFrame([data])  # Wrap in list to make it 1-row DataFrame
    df.append(temp_df)

# Concatenate all DataFrames into one
final_df = pd.concat(df, ignore_index=True)

print(final_df.head())

                            Title  Year  Rated     Released  Runtime  \
0  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
1  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
2  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
3  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
4  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min

                       Genre    Director  \
0  Action, Adventure, Comedy  James Gunn
1  Action, Adventure, Comedy  James Gunn
2  Action, Adventure, Comedy  James Gunn
3  Action, Adventure, Comedy  James Gunn
4  Action, Adventure, Comedy  James Gunn

                                 Writer  \
0  James Gunn, Dan Abnett, Andy Lanning
1  James Gunn, Dan Abnett, Andy Lanning
2  James Gunn, Dan Abnett, Andy Lanning
3  James Gunn, Dan Abnett, Andy Lanning
4  James Gunn, Dan Abnett, Andy Lanning

                                    Actors  \
0  Chris Pratt, Zoe Saldaña, Dave Bautista
1  Chris Pratt, Zoe Saldaña, Dave Bautista
2  Chris Pratt, Zoe Saldaña, Dave Bautista
3  Chris Pratt, Zoe Saldaña, Dave Bautista
4  Chris Pratt, Zoe Saldaña, Dave Bautista

                                                Plot  ... Metascore  \
0  The Guardians struggle to keep together as a t...  ...        67
1  The Guardians struggle to keep together as a t...  ...        67
2  The Guardians struggle to keep together as a t...  ...        67
3  The Guardians struggle to keep together as a t...  ...        67
4  The Guardians struggle to keep together as a t...  ...        67

  imdbRating imdbVotes     imdbID   Type  DVD     BoxOffice Production  \
0        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
1        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
2        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
3        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
4        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A

  Website Response
0     N/A     True
1     N/A     True
2     N/A     True
3     N/A     True
4     N/A     True

[5 rows x 25 columns]

In [58]:
final_df.shape

(99, 25)

                            Title  Year  Rated     Released  Runtime  \
0  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
1  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
2  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
3  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min
4  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min

                       Genre    Director  \
0  Action, Adventure, Comedy  James Gunn
1  Action, Adventure, Comedy  James Gunn
2  Action, Adventure, Comedy  James Gunn
3  Action, Adventure, Comedy  James Gunn
4  Action, Adventure, Comedy  James Gunn

                                 Writer  \
0  James Gunn, Dan Abnett, Andy Lanning
1  James Gunn, Dan Abnett, Andy Lanning
2  James Gunn, Dan Abnett, Andy Lanning
3  James Gunn, Dan Abnett, Andy Lanning
4  James Gunn, Dan Abnett, Andy Lanning

                                    Actors  \
0  Chris Pratt, Zoe Saldaña, Dave Bautista
1  Chris Pratt, Zoe Saldaña, Dave Bautista
2  Chris Pratt, Zoe Saldaña, Dave Bautista
3  Chris Pratt, Zoe Saldaña, Dave Bautista
4  Chris Pratt, Zoe Saldaña, Dave Bautista

                                                Plot  ... Metascore  \
0  The Guardians struggle to keep together as a t...  ...        67
1  The Guardians struggle to keep together as a t...  ...        67
2  The Guardians struggle to keep together as a t...  ...        67
3  The Guardians struggle to keep together as a t...  ...        67
4  The Guardians struggle to keep together as a t...  ...        67

  imdbRating imdbVotes     imdbID   Type  DVD     BoxOffice Production  \
0        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
1        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
2        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
3        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A
4        7.6   788,570  tt3896198  movie  N/A  $389,813,101        N/A

  Website Response
0     N/A     True
1     N/A     True
2     N/A     True
3     N/A     True
4     N/A     True

[5 rows x 25 columns]

In [63]:
final_df = pd.concat(df, ignore_index=True)
final_df.to_csv('movies.csv', index=False)