In [3]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df=pd.read_csv('covid_toy.csv')

In [7]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [18]:
x_train

    age  gender  fever   cough       city
16   69  Female  103.0    Mild    Kolkata
85   16  Female  103.0    Mild  Bangalore
72   83  Female  101.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata
75    5    Male  102.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
30   15    Male  101.0    Mild      Delhi
91   38    Male    NaN    Mild      Delhi
71   75  Female  104.0  Strong      Delhi
31   83    Male  103.0    Mild    Kolkata
89   46    Male  103.0  Strong  Bangalore

[80 rows x 5 columns]

# Aam Jindagi

In [28]:
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])
x_test_fever=si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [1]:
x_train_fever

NameError: name 'x_train_fever' is not defined